/* header style */

header {
    height: 80px;

    .header-container {
        background-color: $bgc_header;
        height: 100%;

        img {
            height: 100%;
            line-height: 80px;
            padding: 20px;
        }
    }
}
/* end header style */