/* main style */

.container {
    width: 70%;
    margin: 0 auto;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $bgc_cards_container;
    /* altezza viewport - altezza header - altezza tag selezione genere */
    min-height: calc(100vh - 80px - 65px);
    padding-bottom: 40px;
}

.card {
    height: 350px;
    width: 200px;
    padding: 20px;
    background-color: $bgc_cards;
    margin: 40px 20px 0;

    img {
        width: 100%;
    }

    h3 {
        text-transform: uppercase;
        text-align: center;
        color: white;
        margin: 20px 0;
    }

    p {
        text-align: center;
        color: gray;
    }
}

#card-genre {
    margin: 20px;
    font-size: 18px;
    color: black;

    option {
        color: white;
    }

    option:nth-child(1) {
        color: black;
    }

    option:nth-child(2) {
        background-color: blue;
    }

    option:nth-child(3) {
        background-color: green;
    }

    option:nth-child(4) {
        background-color: purple;
    }

    option:nth-child(5) {
        background-color: red;
    }
}

[data-genre=Metal] {
    border: 2px solid purple;
}

[data-genre=Rock] {
    border: 2px solid red;
}

[data-genre=Jazz] {
    border: 2px solid green;
}

[data-genre=Pop] {
    border: 2px solid blue;
}

.bgc-purple {
    background-color: purple;
}

.bgc-red {
    background-color: red;
}

.bgc-green {
    background-color: green;
}

.bgc-blue {
    background-color: blue;
}

.bgc-none {
    background-color: darkgray;
}

.select-container {
    background-color: darkgrey;

    i {
        margin: 15px 30px 15px 0;
        color: white;
        float: right;
    }
}
@media screen and (max-width:493px) {
    .select-container i {
        margin: 15px 10px 15px 0;
    }
}
@media screen and (max-width:379px) {
    .select-container i {
        margin: 15px 5px 15px 0;
    }

    #card-genre {
        margin: 20px 0;
    }
}
/* end main style */